body{
	background-color:#00CCFF;
	text-align:center;
}
#main{
	display:inline-block;
	background-color:white;
	height:300px;
	width:500px;
/*	text-align:text;
/**/	/*margin:auto;*/
*/	border-style:solid;
    margin:150px;
}
#title{
	margin:90px;
}
p{
	margin:90px;
}