body{
	background-color:#00CCFF;
	text-align:center;
	margin-top:10%;
}
p{
	font-size:20px;
}
.questioner{
    padding:30px;
    margin:60px 300px;
    height:130px;
    position:relative;
}
#logo_quetion{
	border-style:groove;
	width:15px;
	float:left;
}
.answer{
    padding:30px;
    margin:60px 300px;
    height:130px;
    position:relative;
}
#logo_answer{
	border-style:groove;
	width:15px;
	float:left;
}
#photo{
	float:left;
	margin-left:160px;
}
button{
	margin-top:80px;
}