body{
    background-color:#00CCFF;
    text-align:center;
}
#profile{
	font-size:40px;
	margin:50px;
}
#main{
   background-color:white;
   padding:100px 100px;
   margin: 10px 100px;
}
button{
	margin-top:10px;
}