#frienddiv{
	border: 1px solid black;
	margin-top: 10px;
	width: 120px;
	text-align: center;
	margin-right: 10px;
	float: left;
	height: 100%;
}

#addfriends{
	margin-top: 14px;
	width: 80%;
	font-size: 30px;
	margin-bottom: 20px;
}

html{
	height: 100%;

}
body{
	height: 100%;
}