.searchbarbg{
	margin-top: 250px;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	height: 100px;
	min-width: 1000px;
	background-color: rgba(62,58,57,0.7);

}

.searchbar{
	width: 80%;
	padding-bottom: 35px;
	padding-top: 35px;
	margin-right: auto;
	margin-left: auto;
	border: 0px solid black;
}

.searchform{
	width: 650px;
	margin-left: 20px;
	margin-right: 20px;
	border: 0px solid black;
}

.searchbutton{
	width: 45px;
	margin-left: 20px;
	margin-right: 20px;
	border: 0px solid black;
}

.searchinput{
	width: 90%;
}